/* 
Author: Iskender Piyale-Sheard
Website: http://www.izzydoesizzy.com;
Last Modified: September 8, 2016;
*/

.logo-middle {
	margin: 0 auto;
}


p.lead span {
    color: #25CBF5;
}

.steamcta {
    margin-top: 30px;
    margin-left: 5px;
    margin-right: 5px;
}

a.btn.btn-lg.btn-border-white.buybutton {
	padding-left: 30px;
    padding-right: 30px;
    margin-top: 7px;
    margin-bottom: 7px;
    padding-top: 8px;
    padding-bottom: 8px;
}

a.btn.btn-lg.btn-border-white.buybutton:hover {
	color: #333;
    border-color: #fff;
    background-color: #fff;
}

.introtext {
	padding-top: 25px;
	margin-bottom:15px;
}

.steambuybutton {
    background-color: #25CBF5;
    color: #fff;
    border-color: #25CBF5;
}

.modal-content {

}

.cta-3 {
	background-color: #222;
}

.fun-facts {
	background:none;
	background-color: #25CBF5;
}

.testimonials {
    background:url(../img/showcase-3.jpg);
    padding: 80px 0;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center top;
}

#gamedynamics {
    background:url(../img/showcase-6.jpg);
    padding: 80px 0;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center top;
}

#home {
	background-repeat: no-repeat;
}

@media(max-width:420px){
	#home {
		background:url("img/gallery/gameplay2.jpg");
		background-repeat: no-repeat;
		background-size: cover;
	    height: 100vh; 
	}

	section#gamedynamics {
    text-align: center;
    background-repeat: repeat;
	background-size: cover;
	height: auto; 
	}

	.testimonials {
		background-repeat: no-repeat;
		background-size: cover;
	    height: 70vh; 
	}


}